.couverture{
  height: 460px;
  width: 100%;
  padding: 0;
}
.c1{
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position:bottom;
}

.h-index{
  background: rgba(198, 199, 181, 0.3);
}
.accueil-introduction {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    justify-content:center;
    align-items: center;
  }
  
  .accueil-introduction h1 {
    margin-bottom: 15px;
  }
  
  .accueil-introduction p {
    margin-bottom: 30px;
    text-align: center;
  }
  iframe{
    width:1000px;
    height:350px;
    margin-top: 10px;
  }
  .accueil-introduction div {
    padding-right: 80px;
  }
  .section-contact h2 {
    color: #31471f;
    text-align: center;
    margin-bottom: 50px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    color: white;
  }
  
  .form-nom-email {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .form-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  input,
  textarea {
    padding: 15px;
    border-radius: 3px;
    border: none;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input[type='submit'] {
    width: 200px;
    margin: auto;
    margin-top: 30px;
  }
  .timeline-section{
    min-height: 100vh;
    padding: 100px 15px;
    background: linear-gradient(rgba(255, 255, 255, 0.400),rgba(255, 255, 255, 0.400)),url(/images/toa-heftiba-AFuIPTsaR-0-unsplash.jpg);
    /*background-image: url("/images/toa-heftiba-AFuIPTsaR-0-unsplash.jpg") ;*/
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  .timeline-items{
    max-width: 1000px;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  .timeline-items::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #1a290e;
    left: calc(50% - 1px);
  }
  .timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
  }
  .timeline-item:last-child{
    margin-bottom: 0;
  }
  .timeline-item:nth-child(odd){
      padding-right: calc(50% + 30px);
    text-align: right;
  }
  .timeline-item:nth-child(even){
      padding-left: calc(50% + 30px);
  }
  .timeline-dot{
    height: 16px;
    width: 16px;
    background-color: #2b3910;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top:10px;
  }
  .timeline-date{
    font-size: 30px;
    font-weight:bold;
    color: #2b3910;
    margin:6px 0 15px;
    
  }
  .timeline-content{
      background-color: #b5c79a;
    padding: 30px;
    border-radius: 5px;
  }
  .timeline-content h3{
      font-size: 20px;
    color: #ffffff;
    margin:0 0 10px;
    text-transform: capitalize;
    font-weight: 650;
  }
  .timeline-content p{
      color: #687b36;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
  }
  
  /* responsive */
  @media(max-width: 767px){
    .timeline-items::before{
      left: 7px;
    }
    .timeline-item:nth-child(odd){
      padding-right: 0;
      text-align: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
      padding-left: 37px;
    }
    .timeline-dot{
      left:0;
    }
  }
  @media screen and (max-width: 1000px) {
    .accueil-introduction {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .accueil-introduction  {
      padding-right: 0;
      text-align: center;
      order: 2;
    }
  
    .accueil-introduction img {
      order: 1;
      margin-bottom: 20px;
      width: 100%;
    }
    
    .section-contact {
      padding: 50px 20px;
    }
  
    .form-nom-email {
      flex-direction: column;
      gap: 0;
    }
    iframe{
      width: 100%;
    }
  }
  